<li class="book" id="book-{{id}}">
  {{#unless solo }}
  <a href="/{{name}}" title="{{title}} by {{> authors}}">
  {{/unless}}
    {{#with image}}
    <img class="cover" src="{{dataUri}}" width="{{width}}" height="{{height}}" alt="{{title}} cover"/>
    {{/with}}
    <a class="feed" title="Listen to {{title}} by {{> authors}} as a podcast" href="{{toItpc url}}.rss">
      {{>stack icon="rss"}}
    </a>
    <a class="play" title="Listen to {{title}} by {{> authors}} on a desktop" href="/{{name}}.m3u" >
      {{>stack icon="play"}}
    </a>
    <div class="duration">
      {{formatDuration duration}}
    </div>
  {{#unless solo }}
  </a>
  {{/unless}}
</li>