{{#with book}}
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xml:lang="en"
  version="2.0">
  <channel>
    <title>{{title}} by {{join authors ' & '}}</title>
    <atom:link href="{{url}}.rss" rel="self" type="application/rss+xml" />
    <link>{{url}}</link>
    <description>{{description}}</description>
    <lastBuildDate>{{toUTCString publication}}</lastBuildDate>
    <language>en</language>
    <itunes:image href="{{url}}/{{image.name}}" />
    <image>
      <url>
        {{url}}/{{image.name}}
      </url>
      <title>{{title}} by {{join authors ' & '}}</title>
      <link>{{url}}</link>
    </image>
    <itunes:author>{{join authors ' & '}}</itunes:author>
    <itunes:explicit>clean</itunes:explicit>
    {{#each categories}}
    <itunes:category text="{{name}}" />
    {{/each}}
    <itunes:owner>
      <itunes:name>Bookcaster</itunes:name>
      <itunes:email>bookcaster@bartt.me</itunes:email>
    </itunes:owner>
    {{#each files}}
    <item>
      <title>{{../title}} - Episode {{@index}}</title>
      <description>{{../title}} by {{join ../authors ' & '}} - Episode {{@index}}</description>
      <link>{{url}}</link>
      <enclosure url="{{url}}" length="{{round duration}}" type="{{mimeType}}" />
      <guid>{{url}}</guid>
      <itunes:duration>{{formatDuration duration}}</itunes:duration>
      <author>nobody@example.com ({{join ../authors ' & '}})</author>
      <itunes:author>{{join ../authors ' & '}}</itunes:author>
      <pubDate>{{toUTCString ../publication}}</pubDate>
    </item>
    {{/each}}
  </channel>
</rss>
{{/with}}