<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
  <head>
    <title><%= book_title_and_author(@entries)%></title>
  </head>
  <body>
    <outline text="<%=book_title(@entries) %>" type="rss"
             title="<%=book_title(@entries) %>"
             xmlUrl="<%= request.url.gsub(/opml$/, 'rss') %>"
             htmlUrl="<%= request.url.gsub(/\.opml$/, '') %>"/>
  </body>
</opml>
